
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0vw;
    background: @darkslategrey;
    

    &__logo {
        margin: 0 3vw 0 2vw;
    }

    &__title {
        color: @navajowhite;
        letter-spacing: 0.5vw;
        width: 33vw;
        min-width: 298px;
        font-variant: small-caps;
        font-family: cursive;  //?
    }
}
