
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    background: @darkslategrey;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;

    @media (max-width: @screen-lg) {
        flex-direction: column;
    }

    &__logo {
        // margin: 0 3vw 0 2vw;

        margin: 2vmin 3vw 2vw;
        background: @greysnowwhite;
        padding: 7vmin;
        border-radius: 50%;
        color: @darkslategrey;
        font-family: cursive;
        box-shadow: 0 0 7px 6px @lightgreyblue;
        min-height: 50px;
        min-width: 50px;
        text-align: center;
    }

    &__title {
        color: @snowwhite;
        letter-spacing: 0.5vw;
        width: 33vw;
        font-variant: small-caps;

        @media (max-width: @screen-lg) {
			display: none;
		}
    }

    &__note {
        font-variant: none;
        font-size: @header-note-font-size;
        letter-spacing: normal;
        color: @orangered;
        font-weight: bold;
        font-family: cursive;

        cursor: pointer;
    }

    &_mobile {
        display: none;

        @media (max-width: @screen-lg) {
			display: block;
		}
    }
}
