.channel {
    &__description-message {

    }

    &__messages-preview {
        display: flex;
        justify-content: space-between;
    }

    &__last-message {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__messages-preview {
        display: flex;
        justify-content: space-between;
    }
}